{% extends "base.html" %}
{% block content %}
<section class='w-full'>
    
    <section class='my-2 w-full'>

         <!-- Course_offering_infobar -->
         <div class="bg-gray-200 p-4 mb-4 w-full flex flex-row justify-between items-baseline gap-5">
          <h2 class="text-xl font-bold mb-2 min-w-fit">Course Offerings List </h2>
          <div class='flex flex-row gap-4 flex-wrap justify-end'>
            <p class="mb-2 ">Current Course: {{course_offerings_for_current_user.count}} (Blended :{{blended_course_offerings_for_current_user|length}}, Online :{{online_course_offerings_for_current_user|length}})</p> |
            <p class="mb-2">Total Students Enrolled: {{total_students_for_all_course_offerings_for_current_user|length}} (Blended :{{total_students_for_blended_course_offerings_for_current_user|length}}, Online :{{total_students_for_online_course_offerings_for_current_user|length}})</p> |
            <p class="mb-2">Attendance Percentage: {{total_attendance_percentage}} {% if total_attendance_percentage >= 0 %}%{% endif %} </p> |
                
                {% if total_no_of_at_risk_student_for_all_course_offerings_for_current_user|length >  0 %}
                  <p class='text-red-500'>Students at Risk: {{total_no_of_at_risk_student_for_all_course_offerings_for_current_user|length}} (Blended :{{total_no_of_at_risk_student_for_blended_course_offerings_for_current_user|length}}, Online :{{total_no_of_at_risk_student_for_online_course_offerings_for_current_user|length}})</p>
                  {% else  %}
                  <p>Students at Risk: {{total_no_of_at_risk_student_for_all_course_offerings_for_current_user |length}}</p>
                {% endif %}
          </div> 
          <!-- Add more course offering details -->
          
        </div>
        <p>Date Range: {{ start_date}}  - {{ end_date }}</p>
      
  </section>
    <section class='w-full  bg-gray-100 rounded-lg  mb-3'   >
            
      {% if attendances|length > 0 %}
        {% with title="Student Performace" chart1_data=chart_data_attendance_report_attendance  chart2_data=chart_data_attendance_report_engagement  chart3_data=chart_data_attendance_report_action  chart1_title='Attendance'  chart2_title='Engagement'  chart3_title='Action'  chart1_id='attendance' chart2_id='engagement'  chart3_id='action' %}
        {% include 'components/dashboard/student_performance_pieChart_flow.html' %}
        {% endwith %}
      {% else %}
        <div class='bg-gray-200 p-4'>
            <p> No students found for students attendance report </p>
        </div>
        
      {% endif %} 
      </section>

      <div class='flex w-3/4 bg-green-200 mb-2 px-4 py-2'>Blended Program 
        ({{blended_course_offerings_for_current_user|length}})
      </div>
      <ul class='flex flex-col gap-4 w-3/4'>
       {% for course_offering in blended_course_offerings_for_current_user %}
                 {% with course_offering=course_offering %}
                    {% include 'components/flash_card/course_offering_FC.html' %}
                {% endwith %}   
        {% endfor %}  
       
        </ul>
        <div class='flex w-3/4 bg-blue-200 mb-2 mt-2 px-4 py-2'>Online Program 
          ({{online_course_offerings_for_current_user|length}})
        </div>
      <ul class='flex flex-col gap-4 w-3/4'>
       {% for course_offering in online_course_offerings_for_current_user %}
             {% with course_offering=course_offering %}
                    {% include 'components/flash_card/course_offering_FC.html' %}
                {% endwith %}  
        {% endfor %}  
       
        </ul>
      
</section>
  
    
{% endblock content %}