{% load sidebar_tags %}
{% load static %}
{% block content %}

<section id='sidebar' class="bg-gray-200 text-white w-64 h-screen">
    <!-- Sidebar links -->
    <div class="flex flex-col fixed p-4 w-64 mt-5">
         <!-- Dashboard -->
        
        {% sidebar_link 'Dashboard' 'fas fa-tachometer-alt' 'dashboard' %}
       
       
        <!-- Group: Programs -->
        <div class="mb-4">
            <div class="dropdown mb-2">
                <button class=" dropdown-toggle text-sm text-gray-400 uppercase mb-2 " >Programs</button>
                <div class="dropdown-menu">
                    {% sidebar_link 'Program' 'fas fa-cogs' 'program_list' %}
                    {% sidebar_link 'Program Offerings' 'fas fa-layer-group' 'program_offering_list' %}
                </div>
            </div>
        </div>

        <!-- Group: Courses -->
        <div class="mb-4">
            <div class="dropdown mb-2">
                <button class="dropdown-toggle text-sm text-gray-400 uppercase mb-2 ">Courses</button>
                <div class="dropdown-menu">
                    {% sidebar_link 'Course' 'fas fa-book' 'course_list' %}
                    {% sidebar_link 'Course Offerings' 'fas fa-book-open' 'course_offering_list' %}
                </div>
            </div>
        </div>

        <!-- Group: Management -->
        <div class="mb-4">
            <div class="dropdown mb-2">
                <button class="dropdown-toggle text-sm text-gray-400 uppercase mb-2">Management</button>
                <div class="dropdown-menu">
                    {% sidebar_link 'Manage Attendance' 'fas fa-calendar-check' 'manage-attendance' %}
                    {% sidebar_link 'Manage Students' 'fas fa-user-graduate' 'students-list' %}
                </div>
            </div>
        </div>

        <!-- Group: Other -->
        <div class="mb-4">
            <h2 class="dropdown-toggle text-sm text-gray-400 uppercase mb-2">Other</h2>
            <div class="dropdown-menu">
                {% sidebar_link 'Admin' 'fas fa-user-cog' 'admin:index' %}
                {% sidebar_link 'Import Data' 'fas fa-file-import' 'upload_file:upload_csv' %}
                {% sidebar_link 'Report' 'fas fa-chart-line' 'dashboard' %}
                {% sidebar_link 'FAQ' 'fas fa-question-circle' 'dashboard' %}
            </div>
           
        </div>
       
    </div>
    <script>
        // JavaScript for dropdown menu
        document.querySelectorAll('.dropdown-toggle').forEach(function(element) {
            element.addEventListener('click', function() {
                var dropdownMenu = this.nextElementSibling;
                dropdownMenu.classList.toggle('hidden');
            });
        });

        // JavaScript to highlight active link
        document.addEventListener('DOMContentLoaded', function() {
            var currentUrl = window.location.pathname;
            var sidebarLinks = document.querySelectorAll('#sidebar a');

            sidebarLinks.forEach(function(link) {
                if (link.getAttribute('href') === currentUrl) {
                   
                    link.querySelector('i').classList.add("text-blue-400");
                    link.querySelector('span').classList.add("text-blue-400");
                   
                }
            });
        });
    </script>
   
</section>


{% endblock %}