{% block content %}


    <li class='flex flex-col border-2 border-gray-300  rounded-lg'>
        <a href="{% url 'course_detail' course.pk %}">   
          <div class='flex flex-row'>
            <div class=' px-4 py-2  rounded-lg bg-gray-200 w-2/3'>
              
              <h1>{{ course.temp_id }}
                <br>{{ course.name }} </h1>
                <p> 
                
                  {% if course.course_efts %}
                  EFTS : {{course.course_efts}}
                  {% else %}
                  EFTS : <span class='text-red-300'> Error !!! Assign Cousre EFTS </span>
                  {% endif %}</p>
             
              {% comment %} <p> No of Courses : {{program.list_course_offerings}}</P> {% endcomment %}
              <p >Total Students Enrolled : {{course.calculate_total_no_of_student|length}}</p>
              <p> Course Offerings : {{course.course_offerings.all|length}}</P>
              <div class='flex flex-row  gap-4 flex-wrap'>
                {% for course_offering in course.course_offerings.all %}
                  <p class='bg-blue-300 px-4 py-2 rounded-lg'>{{course_offering.temp_id}} 
                    {% comment %} {{course.name}} {% endcomment %}
                  </p>
                {% endfor %}
              </div>
            </div>
            <div class='px-4 py-2 m-2 rounded-lg w-1/3'>
              
              {% if program_offering.calculate_attendance_percentage < 60  %}
              <h1 class="text-red-500">Attendance Status: {{course.calculate_attendance_percentage}}%</h1>
              {% else %}
              <h1 class="text-gray-300}">Attendance Status: {{course.calculate_attendance_percentage}}%</h1>
              {% endif %} 
             
             
              {% if course.calculate_no_at_risk_student_for_last_week|length >  0 %}
              <p class='text-red-500'> Studnets at risk : {{course.calculate_no_at_risk_student_for_last_week |length}}</p>
            {% else  %}
            <p > No of Studnets at risk : {{course.calculate_no_at_risk_student_for_last_week |length}}</p>
            {% endif %}
            </div>
            
          </div>
         
        </a>
      </li>


{% endblock content %}