{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<section class='flex flex-col justify-between mx-10 my-3 items-baseline '>
   
    <div class='my-3 items-baseline '>
    Manage Students
    </div>
    <section class='flex flex-row my-3  justify-between w-full'>
       
        <!-- Student filter -->
        <div>
            <form method="get">
             
                <div class="flex flex-row  justify-center items-center border-2 border-gray-200 bg-gray-100">
                    <select id='sorty_by' name='sort_by' class="form-select border-gray-200 text-xs text-gray-500">
                        <option value="all_courses" class='text-xs' {% if request.GET.sort_by == 'all_courses' %}selected{% endif %}>All Course </option>
                        {% for course_offering in course_offerings_for_current_user %}
                        <option value="{{ course_offering.id }}" class='text-xs' {% if request.GET.sort_by == course_offering.id|stringformat:"s" %}selected{% endif %}>{{ course_offering }}</option>
                        {% endfor %}
                    </select>
                </div>


            
            </form>
        </div>
        <div>
            <button class="flex items-center bg-green-400  text-lg px-4 py-2 rounded-lg font-semibold text-gray-600">
                <i class="fa fa-edit mr-2 fa-2x text-gray-500 font-thin"></i>
                Edit
            </button>
        </div>
    </section>
    {% comment %} <p>{{students|length}}</p> {% endcomment %}
  
    <section class='mt-5 w-full'>
        
    {% with students=students program=program %}
        {% include 'components/flash_card/manage_students_FC.html' %}
    {% endwith %} 
    </section>
        
  <script>
   
    {% comment %} # it will load filter automatically by selecting  {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        const sortSelect = document.querySelector('select[name="sort_by"]');
    
        sortSelect.addEventListener('change', function () {
            const selectedSort = sortSelect.value;
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('sort_by', selectedSort);
            window.location.href = currentUrl;
        });
    });

    
  </script>
</section>
{% endblock content %}