{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<section>
   
    <div class='flex justify-between mx-10 my-3 items-baseline '>
    
        <div class='flex flex-row gap-3 justify-start items-baseline flex-wrap w-2/3'>
        
            <p>Total Stduents : {{total_students.count}}</p>|
            <p> Allowed Students :{{students.count}} </p> |

            <p class=" {% if total_at_risk_students|length > 0 %} text-red-400{% endif %} ">At Risk Students : {{total_at_risk_students|length}}</p>|
           
            {% if student_not_enrolled_in_any_program_offering > 0 %}
                <p class='flex flex-row text-red-400'> Students not enrolled in any program :{{student_not_enrolled_in_any_program_offering}}</p>|
            {% endif %}
            {% if student_not_enrolled_in_any_course_offering > 0 %}
                <p>Students not enrolled in any course :{{student_not_enrolled_in_any_course_offering}}</p>|
            {% endif %}
            {% if student_enrolled_more_then_one_program_offering > 0 %}
                <p class='font-semibold text-gray-400'>Students enrolled in more then one program :{{student_enrolled_more_then_one_program_offering}}</p>
            {% endif %}
            

        </div>
        
        <a href="{% url 'all-students-at-risk' %}" class='px-4 py-2 bg-red-300 rounded-lg '> At Risk Students</a>
    
    </div>
    <section>
        <!-- Student filter -->
            <form method="get">
                <!-- Search input -->
                <div  class='flex flex-row items-baseline justify-between mx-4 my-2 px-3 py-2 rounded-lg'>
                <div class='flex flex-row items-baseline justify-start gap-4 w-1/2'  >
                    <div class='flex w-2/3'>
                        <input type="text" name="search" placeholder="Search by name, campus, program, course" class='w-full border-0 h-8 rounded-lg'>
                
                    </div>
                    <div class='flex w-[100px] justify-center text-md px-4 py-1 rounded-lg bg-blue-300'>
                            <!-- search Button-->
                         <button type="submit" class=''>Search</button>
                    </div>

                </div>
               
                <div class='flex flex-row justify-between w-1/2 flex-wrap'>
                    <div>
                                  <!-- Sort by options -->
                        <label for="sort_by">Sort By:</label>
                        <select name="sort_by" id="sort_by" class='pl-2 pr-10'>
                            <option value="id" {% if request.GET.sort_by == 'id' %}selected{% endif %}>ID</option>
                            <option value="student__first_name" {% if request.GET.sort_by == 'student__first_name' %}selected{% endif %}>Name</option>
                            <option value="student__campus" {% if request.GET.sort_by == 'student__campus' %}selected{% endif %}>Campus</option>
                            <option value="program_offering" {% if request.GET.sort_by == 'program_offering' %}selected{% endif %}>Program Offering</option>
                            <option value="course_offerings" {% if request.GET.sort_by == 'course_offerings' %}selected{% endif %}>Course Offering</option>
                            <option value="international_student" {% if request.GET.sort_by == 'international_student' %}selected{% endif %}>International Students</option>
                            <option value="student_is_at_risk_for_last_week_status" {% if request.GET.sort_by == 'student_is_at_risk_for_last_week_status' %}selected{% endif %}>At Risk</option>
                            <option value="calculate_attendance_percentage" {% if request.GET.sort_by == 'calculate_attendance_percentage' %}selected{% endif %} >Attendance Percentage</option>
                            <!-- Add more options as needed -->
                        </select>
                        <button type="button" id="toggle_sort_order" class="px-2 py-1 bg-blue-500 ">
                            <i class="fas fa-arrow-down"></i>
                            <i class="fas fa-arrow-up"></i>
                            </button>
                    </div>
                    <div class="px-4 py-1 bg-red-300 rounded-lg">
                        <button type="button" id="reset_button" class=" text-black">
                            Reset
                        </button>
                    </div>
                  
                </div>

               
                 </div>

            
            </form>
    </section>
    {% comment %} <p>{{students}}</P {% endcomment %}
 
        {% with students=students  view="table" %}
             {% include 'components/flash_card/student_list_FC2.html' %}
         {% endwith %}

  <script>
   
    {% comment %} # it will load filter automatically by selecting  {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        const sortSelect = document.querySelector('select[name="sort_by"]');
    
        sortSelect.addEventListener('change', function () {
            const selectedSort = sortSelect.value;
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('sort_by', selectedSort);
            window.location.href = currentUrl;
        });
    });
    document.getElementById('reset_button').addEventListener('click', function () {
        // Reset search input
        document.querySelector('input[name="search"]').value = '';

        // Reset sort select
        document.querySelector('select[name="sort_by"]').value = '';

        // Submit the form to trigger the reset
        this.closest('form').submit();
    });
  </script>
</section>
{% endblock content %}