{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
<section>
   
    <div class='flex justify-between mx-10 my-3 items-baseline '>
    
        <div class='flex flex-row gap-3 justify-start items-baseline flex-wrap w-2/3'>
        
            <p>Total Stduents : {{total_students.count}}</p>|
            <p> Allowed Students :{{students.count}} </p> |

            <p class=" {% if total_at_risk_students|length > 0 %} text-red-400{% endif %} ">At Risk Stduents : {{total_at_risk_students|length}}</p>|
           
            {% if student_not_enrolled_in_any_program_offering > 0 %}
                <p class='flex flex-row text-red-400'> Students not enrolled in any program :{{student_not_enrolled_in_any_program_offering}}</p>|
            {% endif %}
            {% if student_not_enrolled_in_any_course_offering > 0 %}
                <p>Students not enrolled in any course :{{student_not_enrolled_in_any_course_offering}}</p>|
            {% endif %}
            {% if student_enrolled_more_then_one_program_offering > 0 %}
                <p class='font-semibold text-gray-400'>Students not enrolled in more then one program :{{student_enrolled_more_then_one_program_offering}}</p>
            {% endif %}
            

        </div>
        
        <a href="{% url 'all-students-at-risk' %}" class='px-4 py-2 bg-red-300 rounded-lg '> At Risk Students</a>
    
    </div>
    {% comment %} <p>{{students}}</P {% endcomment %}
 
        {% with students=students  view="table" %}
             {% include 'components/flash_card/student_list_FC.html' %}
         {% endwith %}

  
</section>
{% endblock content %}