{% extends "base.html" %} 
{% block content %}
<section class="flex flex-row gap-5 mt-2">
    <!-- Upload Student data -->
    <section class="flex flex-col gap-3 bg-gray-200 p-4 rounded-sm">
        <h1 class="text-lg font-semibold">Bulk Upload : Student Attendance</h1>
        <form action="" method="post" enctype="multipart/form-data" class='flex flex-col gap-3'>
            {% csrf_token %} 
            {{ bulk_attendance_form.as_p }}
            <br />
            <button type="submit" name="attendance_submit">
                <p class="px-4 py-1 bg-blue-300 rounded-lg">Confirm</p>
            </button>
        </form>
    </section>

</section>
{% endblock content %}