<!-- charts/barChartHorizontal.html -->

<canvas id="barH{{ id }}" style="width:100%;max-width:1000px"></canvas>


<script>
    var xValues = {{ data.labels|safe }};
    var yValues = {{ data.data|safe }};
    var barColors = ["red", "green", "blue", "orange", "brown"];
    var limit = 6;

    new Chart("barH{{ id }}", {
        type: "horizontalBar",  // Change the type to horizontalBar
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            indexAxis: 'y',  // Set indexAxis to 'y' for horizontal bars
          
            legend: { display: true },
            title: {
                display: true,
                text: "{{ text }}"
            },
            scales: {
                y: {
                    beginAtZero: true  // Set the suggestedMin to 0 for the y-axis
                }
            }
        },
        
    });
</script>
