{% block content %}
{% load custom_tags %}
<section class='my-2'>
    
    {% comment %} <a href="{% url 'course_offering_detail' course_offering.pk %}" > {% endcomment %}
       <!-- Course_offering_infobar -->
       <div class="bg-gray-200 p-4 mb-4">
        <h2 class="text-xl font-bold mb-2">Course Offering Details</h2>
        <div class='flex flex-row gap-4 flex-wrap '>
          <p class="mb-2 ">Current Courses : {{course_offerings.count}}</p> |
          <p class="mb-2">Total Students Enrolled: {{students.count}}</p> |
            {% if total_no_of_at_risk_student|length >  0 %}
              <p class='text-red-500'>Students at Risk: {{total_no_of_at_risk_student|length}}</p>
            {% else  %}
              <p>Students at Risk: {{total_no_of_at_risk_student|length}}</p>
            {% endif %}
        </div>
        <!-- Add more course offering details -->
      </div>
      
    {% comment %} </a> {% endcomment %}
</section>

{% endblock content %}