{% block content %}
{% load custom_tags %}
<section class='my-2'>
    
    {% comment %} <a href="{% url 'course_offering_detail' course_offering.pk %}" > {% endcomment %}
       <!-- student perforamnce Pie chart -->
      <div class=" pb-8  ">
        
        {% comment %} <h2 class="text-xl font-bold mb-2">{{title}}</h2> {% endcomment %}
          <div class='flex flex-row justify-center gap-4 flex-wrap py-4'>

            
              <!-- Add three pie charts with dummy data linked with attendance, engagement, and actions -->
              <div class='w-4/12 min-w-[500px] rounded-lg relative'>
                
                <div class ='flex flex-col absolute top-0 right-0 p-0 z-50 '> 
                  <div class="flex flex-row  justify-center items-center  bg-gray-100">
                    <select name="program" id="program-dropdown" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                        <option value="" class=''>Select Program </option>
                        {% for program in programs_for_current_user %}
                            <option class='text-black ' value="{{ program.id }}">{{ program.temp_id }}:{{ program.name }}</option>
                        {% endfor %}
                      
                    </select>
                  </div>
                  
                  <div class="flex flex-row  justify-end  mt-2 ">
                          <select name="week" id="id_week" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                          <option value="" class=''>Week</option>
                        
                              <option class='text-black ' value="session_1">Week 1 </option>
                              <option class='text-black ' value="session_1">Week 2 </option>
                          
                        
                      </select>
                  </div>
                  <div class="flex flex-row  justify-end  mt-2 ">
                          <select name="sessiion" id="id_session" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                          <option value="" class=''>Session</option>
                        
                              <option class='text-black ' value="session_1">Session 1 </option>
                              <option class='text-black ' value="session_1">Session 2 </option>
                          
                        
                      </select>
                  </div>
                </div>
                  
                
                <div class='flex relative flex-col  mt-10 '>
                  <div class='flex text-sm font-medium text-center align-middle justify-center '>{{chart1_title}}</div>
                  <div class='flex justify-start items-start content-center align-baseline w-full'>
                  {% with data=chart1_data title="" id=chart1_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                    {% include 'charts/chart.html' %}
                  {% endwith %}
                </div>
                </div>
                
                  
              </div>
              <div class='w-7/12 min-w-[700px]  flex flex-row border-2 border-black p-2'>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart2_title}}</span>
                    {% with data=chart2_data title="" id=chart2_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart3_title}}</span>
                    {% with data=chart3_data title="" id=chart3_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right'%}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
              </div>
          </div>
      </div>
      
   
</section>
<script>
  $(document).ready(function (){
        $('#program-dropdown').change(function() {
          var programId = $(this).val();
          console.log("Program ID selected :",programId)
          updateChartData(programId);
      });
        // Function to update chart data
        function updateChartData(programId) {
          $.ajax({
              url: '/',
              method: 'GET',
              data: {
                  program_id: programId
              },
              success: function(response) {
                  // Update chart data based on the response
                  updateChart('attendance-chart', response.chart_data_attendance_report_attendance);
                  updateChart('engagement-chart', response.chart_data_attendance_report_engagement);
                  updateChart('action-chart', response.chart_data_attendance_report_action);
                  
                  // Display a success message or handle other actions
                  console.log(response.message);
              },
              error: function(xhr, status, error) {
                  // Handle errors
                  console.error(xhr.responseText);
              }
          });
      }
       // Function to update a chart
       function updateChart(chartId, newData) {
        // Code to update the chart using your chart library (e.g., Chart.js, Highcharts, etc.)
        // Example:
        // var chart = new Chart(document.getElementById(chartId), { ... });
        // chart.data = newData;
        // chart.update();
    }



  })




</script>

{% endblock content %}