{% block content %}
{% load custom_tags %}
<section class='my-2'>
    
    {% comment %} <a href="{% url 'course_offering_detail' course_offering.pk %}" > {% endcomment %}
       <!-- student perforamnce Pie chart -->
      <div class=" pb-8  ">
        
        {% comment %} <h2 class="text-xl font-bold mb-2">{{title}}</h2> {% endcomment %}
          <div class='flex flex-row justify-center gap-4 flex-wrap py-4'>

            
              <!-- Add three pie charts with dummy data linked with attendance, engagement, and actions -->
              <div class='w-4/12 min-w-[500px] rounded-lg relative'>
                
                <div class ='flex flex-col absolute top-0 right-0 p-0 z-50 '> 
                  <div class="flex flex-row  justify-center items-center  bg-gray-100">
                    <select name="program" id="program-dropdown" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                        <option value="" class=''>Select Program </option>
                        {% for program in programs_for_current_user %}
                            <option class='text-black ' value="{{ program.id }}">{{ program.temp_id }}:{{ program.name }}</option>
                        {% endfor %}
                      
                    </select>
                  </div>
                  
                  <div class="flex flex-row  justify-end  mt-2 ">
                          <select name="week" id="week-dropdown" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                          <option value="" class=''>Week</option>
                        
                              <option class='text-black ' value="1">Week 1 </option>
                              <option class='text-black ' value="2">Week 2 </option>
                              <option class='text-black ' value="3">Week 3 </option>
                              <option class='text-black ' value="4">Week 4 </option>
                              <option class='text-black ' value="5">Week 5 </option>
                              <option class='text-black ' value="6">Week 6 </option>
                              <option class='text-black ' value="7">Week 7 </option>
                              <option class='text-black ' value="8">Week 8 </option>
                              <option class='text-black ' value="9">Week 9 </option>
                          
                        
                      </select>
                  </div>
                  <div class="flex flex-row  justify-end  mt-2 ">
                          <select name="sessiion" id="session-dropdown" class="form-select border-2 border-gray-200 text-xs text-gray-500">
                          <option value="" class=''>Session</option>
                        
                              <option class='text-black ' value="1">Session 1 </option>
                              <option class='text-black ' value="2">Session 2 </option>
                          
                        
                      </select>
                  </div>
                </div>
                  
                
                <div class='flex relative flex-col  mt-10 '>
                  <div class='flex text-sm font-medium text-center align-middle justify-center '>{{chart1_title}}</div>
                  <div class='flex justify-start items-start content-center align-baseline w-full'>
                  {% with data=chart1_data title="" id=chart1_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                    {% include 'charts/chart.html' %}
                  {% endwith %}
                </div>
                </div>
                
                  
              </div>
              <div class='w-7/12 min-w-[700px]  flex flex-row border-2 border-black p-2'>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart2_title}}</span>
                    {% with data=chart2_data title="" id=chart2_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart3_title}}</span>
                    {% with data=chart3_data title="" id=chart3_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right'%}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
              </div>
          </div>
      </div>
      
   
</section>
<script>
  $(document).ready(function (){
        var selectedProgramId =localStorage.getItem('selectedProgramId')
        var selectedWeekNo =localStorage.getItem('selectedWeekNo')
        var selectedSessionNo =localStorage.getItem('selectedSessionNo')
        if(selectedProgramId){
          console.log("proram from  drop down selected ",selectedProgramId)
          $('#program-dropdown').val(selectedProgramId)
        }
        if(selectedWeekNo){
          console.log("week number drop down selected ",selectedWeekNo)
          $('#week-dropdown').val(selectedWeekNo)
        }
        if(selectedSessionNo){
          console.log("session from  drop down selected ",selectedSessionNo)
          $('#session-dropdown').val(selectedSessionNo)
        }
        
        //when program selected 
        $('#program-dropdown').change(function() {
          var programId = $(this).val();
          
          console.log("Program ID selected :",programId)
          localStorage.setItem('selectedProgramId',programId)
          updateChartData();
      });
      //when week selected 
      $('#week-dropdown').change(function(){
        var weekNo=$(this).val()
        console.log("Week number selected :",weekNo)
        localStorage.setItem("selectedWeekNo",weekNo)
        updateChartData();
      })
      $('#session-dropdown').change(function(){
        var sessionNo=$(this).val()
        console.log("Session number selected :",sessionNo)
        localStorage.setItem("selectedSessionNo",sessionNo)
        updateChartData();
      })

      //when session selected

        // Function to update chart data
        function updateChartData() {
          $.ajax({
            
              url: '{% url "dashboard" %}',
              method: 'GET',
              data: {
                  program_id: localStorage.getItem('selectedProgramId'),
                  week_no: localStorage.getItem('selectedWeekNo'),
                  session_no: localStorage.getItem('selectedSessionNo')
              },
              success: function(response) {
                  // Update chart data based on the response
                  $('#dashboard-attendance-engagement-action-container').html(response.html_content);
                  
                  // Display a success message or handle other actions
                  console.log("Status code :",response.status);
                  
              },
              error: function(xhr, status, error) {
                  // Handle errors
                  console.error(xhr.responseText);
              }
          });
      }

      // Call updateChartData() if selected values are available on page load
       // if(selectedProgramId && selectedWeekNo && selectedSessionNo) {
        //  console.log("Update chart data function load data on first reload ")
        //  updateChartData();
      //}

    


  })




</script>

{% endblock content %}