{% block content %}
{% load custom_tags %}
<section class='my-2'>
    
    {% comment %} <a href="{% url 'course_offering_detail' course_offering.pk %}" > {% endcomment %}
       <!-- student perforamnce Pie chart -->
      <div class=" pb-8  ">
        
        {% comment %} <h2 class="text-xl font-bold mb-2">{{title}}</h2> {% endcomment %}
          <div class='flex flex-row justify-center gap-4 flex-wrap py-4'>

            
              <!-- Add three pie charts with dummy data linked with attendance, engagement, and actions -->
              <div class='w-4/12 min-w-[500px] rounded-lg relative'>
                
                <div class ='flex flex-col absolute top-0 right-0 p-0 z-50 '> 
                  <div class="flex flex-row  justify-center items-center  bg-gray-100">
                   
                  </div>
                  <form method="GET" action="">
                   
                    <div class="flex flex-row  justify-end  mt-2 ">
                        {{ attendanceReportFilterForm.course_offering__student_enrollments__program_offering__program }}
                        {{ attendanceReportFilterForm.course_offering__student_enrollments__program_offering__program.errors }}
                    </div>

                    <div class="flex flex-row  justify-end  mt-2 ">
                        {{ attendanceReportFilterForm.week_no }}
                        {{ attendanceReportFilterForm.week_no.errors }}
                    </div>
                
                    <div class="flex flex-row  justify-end  mt-2 ">
                         {{ attendanceReportFilterForm.session_no }}
                         {{ attendanceReportFilterForm.session_no.errors }}
                    </div>
                <!-- handled from filter.py file onchnage submit data -->
                    {% comment %} <input type="submit" value="Filter" class="btn-blue"> {% endcomment %}
                </form>
                
                </div>
                  
                
                <div class='flex relative flex-col  mt-10 '>
                  <div class='flex text-sm font-medium text-center align-middle justify-center '>{{chart1_title}}</div>
                  <div class='flex justify-start items-start content-center align-baseline w-full'>
                  {% with data=chart1_data title="" id=chart1_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                    {% include 'charts/chart.html' %}
                  {% endwith %}
                </div>
                </div>
                
                  
              </div>
              <div class='w-7/12 min-w-[700px]  flex flex-row border-2 border-black p-2'>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart2_title}}</span>
                    {% with data=chart2_data title="" id=chart2_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right' %}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
                  <div class='w-6/12 rounded-lg '>
                    <span class='flex text-sm font-medium '>{{chart3_title}}</span>
                    {% with data=chart3_data title="" id=chart3_id chartType='pie' lengendDisplay='true' limitData=10 legendPosition='right'%}
                      {% include 'charts/chart.html' %}
                    {% endwith %}
                  </div>
              </div>
          </div>
      </div>
      
   
</section>
<script>
 
</script>

{% endblock content %}