
{% load sidebar_tags %}
{% load static %}
{% load static tailwind_tags %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script src="https://www.gstatic.com/charts/loader.js"> </script>

  <title>EduPulse</title>
  <link rel="stylesheet" href="{% static 'src/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <style>
       
    </style>
</head>
<body class="bg-gray-200 flex flex-col ">
 
  
  {% include "components/base/header.html" %}




  <main class="w-full flex  flex-row mt-11">
    {% comment %} <section id='sidebar' class="bg-gray-200 text-white w-64 h-screen"> {% endcomment %}
    {% include "components/base/sidebar.html" %}
    {% comment %} </section> {% endcomment %}
   
      <!-- Main content area -->
    <section class="p-4 flex flex-col flex-1 mt-2 bg-white overflow-hidden">
        <!-- Content for Dashboard, Program, Report, Contact, FAQ, About Us -->

       {% block content %}
        {% endblock content %}  
    </section>
  </main>
 

  <script>


      
        // JavaScript for toggling sidebar
        const links = document.querySelectorAll('#sidebar a');
      
        document.getElementById('toggleSidebar').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('w-64');
            document.getElementById('sidebar').classList.toggle('w-16');
            document.getElementById('headerCompanyInfo').classList.toggle('w-64');
            document.getElementById('headerCompanyInfo').classList.toggle('w-16');
            
            links.forEach(link => {
                const span = link.querySelector('span');
                span.classList.toggle('md:hidden');
                span.classList.toggle('md:flex');
               
   
            });
            document.getElementById('sidebar_company_logo').classList.toggle('hidden');
            document.getElementById('sidebar_company_logo').classList.toggle('flex');
            document.getElementById('sidebar_company_name').classList.toggle('hidden');
            document.getElementById('sidebar_company_name').classList.toggle('flex');
            
            const groupButtons = document.querySelectorAll('.dropdown-toggle');
            groupButtons.forEach(button => {
              button.classList.toggle('hidden');
              button.classList.toggle('flex');
              
          });
  
            sidebarLogo.classList.toggle('hidden');
            sidebarLogo.classList.toggle('flex');
            sidebarName.classList.toggle('hidden');
            sidebarName.classList.toggle('flex');
          });

        const dropdownToggle = document.getElementById('dropdownToggle');
        const dropdownMenu = document.getElementById('dropdownMenu');
        const arrowIcon = document.getElementById('arrowIcon');
    
        dropdownToggle.addEventListener('click', () => {
            dropdownMenu.classList.toggle('hidden');
            arrowIcon.classList.toggle('fa-caret-down');
            arrowIcon.classList.toggle('fa-caret-up');
        });
   
  </script>
</body>

</html>