{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <section class='flex w-full flex-col'>
        <!-- User Profile Section -->
        {% with current_user=current_user  %}
           {% include 'components/dashboard/user_profile_FC.html' %}
        {% endwith %}
      

        {% if request.user|user_belongs_to_group:'Teacher' %}
        {% comment %} {{total_students_at_risk_query_set}} {% endcomment %}
            <!-- Course Offering Details Section -->
            {% with course_offerings=course_offerings_for_current_user students=total_students_in_course_offerings_for_current_user total_no_of_at_risk_student=total_students_at_risk_query_set %}
              {% include 'components/dashboard/course_offering_info_bar.html' %}
            {% endwith %}
        {% endif %}
       

        {% if  request.user|user_belongs_to_group:'Head_of_School' or request.user|user_belongs_to_group:'Admin'    %}
            <!-- Program Offering Details Section -->
          <div class='flex flex-col'>
            <p class='text-center text-lg font-bold mb-2'> Student Enrollment Status </p>
            
            <div class='flex flex-row gap-0 flex-wrap justify-center'>
              <div class='w-4/12 bg-gray-100 rounded-lg'>
            {% with data=chart_data_campus_enrollment_student text='Students Enrollment By Campus' id='students_enrollment'%}
              {% include 'charts/barChartHorizontal.html' %}
            {% endwith %}
            </div>
            <div class='w-4/12 bg-gray-100 rounded-lg'>
              {% with data=chart_data_campus_enrollment_student title='Student Enrollment By Course Type' id='students_by_course_type' chartType='pie' lengendDisplay='true' limitData=10 %}
                {% include 'charts/chart.html' %}
              {% endwith %}
            </div>
            <div class='w-4/12 bg-gray-100 rounded-lg'>
              {% with data=chart_data_student_region title='Domestic and International Studnets' id='students_by_country' chartType='bar' lengendDisplay='false' limitData=10 %}
                {% include 'charts/chart.html' %}
              {% endwith %}
            </div>
            
          </div>
          
          {% with program_offerings=program_offerings students=total_students_in_program_offerings_for_current_user total_students_at_risk_query_set=total_students_at_risk_query_set  %}
              {% include 'components/dashboard/program_offering_info_bar.html' %}
            {% endwith %}
        
            {% with program_offerings=program_offerings_for_current_user students=total_students_in_program_offerings_for_current_user total_students_at_risk_query_set=total_students_at_risk_query_set %}
              {% include 'components/dashboard/program_offering_attendance_info.html' %}
            {% endwith %}
            
        </div>
        {% endif %}


        {% if  request.user|user_belongs_to_group:'Program_Leader'  %}
            <!-- Program Offering Details Section -->
          {% with program_offerings=program_offerings_for_current_user students=total_students_in_program_offerings_for_current_user  %}
            {% include 'components/dashboard/program_offering_info_bar.html' %}
          {% endwith %}
          {% with data=chart_data_program_offering_student_enrollment text='Students Enrollment' id='students_enrollment'%}
            {% include 'charts/barChartHorizontal.html' %}
          {% endwith %}

          {% with program_offerings=program_offerings_for_current_user students=total_students_in_program_offerings_for_current_user  %}
            {% include 'components/dashboard/program_offering_attendance_info.html' %}
          {% endwith %}

        {% endif %}

        
          <!-- Trends Section -->
        {% with  students=students  %}
          {% include 'components/dashboard/trends.html' %}
        {% endwith %}
       

          <!-- Alerts and Messages Section -->
        {% with  students=students  %}
          {% include 'components/dashboard/alerts_messages.html' %}
        {% endwith %}
         

          <!-- Student Performance Pie Chart Section -->
        {% with  chart1_data=chart_data_campus_enrollment_student  chart2_data=chart_data_campus_enrollment_student  chart3_data=chart_data_enrollment  chart1_title='Attendance'  chart2_title='Engagement'  chart3_title='Action'  chart1_id='attendance' chart2_id='engagement'  chart3_id='actions' %}
          {% include 'components/dashboard/student_performance_pieChart_flow.html' %}
        {% endwith %}
          

     {% comment %} <p>Total Program Offerings :  {{program_offerings.count}}</p>
     <p>Total course Offerings :  {{course_offerings.count}}</p>
     <p>Total Studnets :  {{students.count}}</p> {% endcomment %}
     
     {% comment %} <p>Studnets Enrollment  :  {{chart_data_enrollment}}</p> {% endcomment %}

    {% comment %} <h1> Dashboard </h1> {% endcomment %}
    <section class='flex flex-row flex-wrap gap-2 items-center'>
      {% comment %} chart to choose 
      chartType:pie,line,bar,doughnut,polarArea
      {% endcomment %}
      {% if request.user|user_belongs_to_group:'Admin' %} 
        <div class='w-4/12 bg-gray-100 rounded-lg'>
          {% with data=chart_data_campus_enrollment_student title='Student Enrollment Count By Campus' id='students_by_campus' chartType='pie' lengendDisplay='false' limitData=10 %}
            {% include 'charts/chart.html' %}
          {% endwith %}
        </div>

        <div class='w-5/12 bg-gray-100 rounded-lg'>
          {% with data=chart_data_campus_enrollment_staff title='Staff Count By Campus' id='staff_by_campus' chartType='bar' lengendDisplay='true' limitData=10 %}
            {% include 'charts/chart.html' %}
          {% endwith %}
        </div>
        <div class='w-7/12 bg-gray-100 rounded-lg'>
          {% comment %} bar Chart Horizonal {% endcomment %}
          {% with data=chart_data_enrollment text='Students Enrollment' id='students_enrollment'%}
            {% include 'charts/barChartHorizontal.html' %}
          {% endwith %}
          </div>
  
  
       <div class='w-5/12 bg-gray-100 rounded-lg'>
  
        {% with data=chart_data_campus_enrollment_student title='Staff Appointment By campus' id='staff_by_campus' chartType='bar' lengendDisplay='true' %}
          {% include 'charts/chart.html' %}
        {% endwith %}
        </div>
       <div class='w-5/12 bg-gray-100 rounded-lg'>
  
        {% with data=chart_data_campus_enrollment_student title='Staff Appointment By campus' id='staff_by_campus' chartType='bar' lengendDisplay='true' %}
          {% include 'charts/chart.html' %}
        {% endwith %}
        </div>
  
       <div class='w-5/12 bg-gray-100 rounded-lg'>
  
        {% with data=chart_data_enrollment text='Students Enrollment' id='students_enrollment'%}
          {% include 'charts/barChartVertical.html' %}
        {% endwith %}
        </div>
  
        <div class='w-5/12 bg-gray-100 rounded-lg'> 
        {% with data=chart_data_enrollment text='Students Enrollment' id='students_enrollment'%}
          {% include 'charts/pieChart.html' %}
        {% endwith %}
        </div>
        <div class='w-5/12  bg-gray-100 rounded-lg'>
  
        {% with data=chart_data_enrollment text='Students Enrollment' id='students_enrollment'%}
          {% include 'charts/doughnutChart.html' %}
        {% endwith %}
      </div>
    
      <div class='w-5/12 bg-gray-100 rounded-lg'>
        
        {% with data=chart_data_enrollment text='Students Enrollment' id='students_enrollment'%}
        {% include 'charts/lineChart.html' %}
        {% endwith %}
      </div>

      {% endif %}
     

     

     
    <section>
   </section>
{% endblock content %}
    
