{% extends "base.html" %}

{% block content %}

<section class='my-2 w-full items-centerflex flex-col '>
   {% comment %} <a href="{% url 'course_offering_detail' course_offerings.pk %}" > {% endcomment %}
            <!-- Course_offering_infobar -->
    
              <h1 class='text-center mt-4 text-xl mb-1'><strong>Program Offering Detail</strong>  </h1>
            
            
            <div class="bg-gray-200 p-4 mb-4 w-full gap-5 flex flex-row justify-between items-baseline">
             
              <div class='w-1/2'>
                {% comment %} <h1><strong>Program Detail</strong>  </h1> {% endcomment %}
                <h2 class="text-xl font-bold my-2">{{ program_offering.temp_id }} : ({{program_offering.offering_mode |title }})
                  <br> {{ program_offering.program.name }}</h2>
                <p><strong>Description:</strong> {{ program_offering.program.description }}</p>
                <p><strong>Program Link:</strong> {{ program_offering.program.program_link }}</p>
                <p><strong>Total Credit:</strong> {{ program_offering.program.total_credit }}</p>
                <p><strong>Duration in week:</strong> {{ program_offering.program.duration_in_week }}</p>
                <p><strong>Start Date:</strong> {{ program_offering.start_date }}</p>
                <p><strong>End Date:</strong> {{ program_offering.end_date }}</p>
                <p><strong>Remark:</strong> {{ program_offering.remark }}</p>
              </div>
            
              <div class='flex flex-row gap-4 flex-wrap items-baseline w-1/2 justify-end align-baseline content-baseline mt-auto'>
              
                <h1>Total Courses : 
                {% if program_offering.offering_mode == "online" %}
                {{program_offering.program.get_list_of_online_course_for_selected_program|length}} 
                {% else %}
                {{program_offering.program.get_list_of_blended_course_for_selected_program|length}} 
                {% endif %}
                  
                </h1>|
                <p class="mb-2">Total Students Enrolled: {{total_students}}</p> |
                <p class="mb-2">Attendnace Percentage: {{program_offering.calculate_attendance_percentage}} %</p> |
                {% if program_offering.calculate_no_at_risk_student_for_last_week|length  >  0 %}
                <p class='text-red-500'>Students at Risk: {{program_offering.calculate_no_at_risk_student_for_last_week|length}}</p>
                {% else  %}
                <p>Students at Risk: {{program_offering.calculate_no_at_risk_student_for_last_week|length}}</p>
                {% endif %}
                
              </div>
              <!-- Add more course offering details -->
            </div>
            
          {% comment %} </a> {% endcomment %}
{% if  program_offering.offering_mode == "online" %}

  {% for course in program_offering.program.get_list_of_online_course_for_selected_program %}
        {% with course=course %}
          {% include 'components/flash_card/program_offering_detail_FC.html' %}
        {% endwith %} 
       
  {% endfor %}
{% else %}

  {% for course in program_offering.program.get_list_of_blended_course_for_selected_program %}
        {% with course=course %}
          {% include 'components/flash_card/program_offering_detail_FC.html' %}
        {% endwith %} 
       
  {% endfor %}
{% endif %}



   
  

</section>
   

{% endblock content %}