{% extends "base.html" %}
{% block content %}
   
    <section>
        <h1> Program Offering List  </h1>
        <br>
        <ul class='flex flex-col gap-4'>
            {% for program in program_offering %}
              <li><a href="{% url 'program_offering_detail' program.pk %}">
                
                <h1>{{ program.program.name }}</h1>
                <p> strat from {{ program.start_date }} to {{ program.end_date }}</p>
              </a></li>

            {% endfor %}
          </ul>
    </section>
{% endblock content %}